<section class="row" *ngIf="statesDonation">

  <div class="col-xs-6 col-sm-4 col-md-3" *ngFor="let state of statesDonation">
      <div class="card">
        <header>{{state.name}}</header>
        
        <h3 class="donations">{{state.donations}} Doações</h3>
        <h3 class="donations">{{Math.round(state.donations/6)}} Famílias beneficiadas</h3>
        <h3 class="amount">R$ {{state.amount}}</h3>

        <a class="btn btn-primary btn-lg btn-block" (click)="donate(state)">Doar</a>
      </div>
  </div>
  
</section>