<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        {{title}}
      </a>
    </div>
  </div>
</nav>


<div class="content">
    
    <section class="section-intro">
        <div class="container center">
            <h1>Mudar o mundo não precisa ser complexo!</h1>
        </div>
    </section>

    <img class="wide" src="/assets/img/ods2-banner.png">

    <section class="section-1 container">
        <h1>7,2 milhões de brasileiros passam fome</h1>
        <h3>Isso representa 3,5% da população. Nós podemos acabar com isso!</h3>
        <h1>Juntos podemos resolver um dos objetivos do milênio, propostos pela ONU.</h1>
        <h2>Doe apenas 1/6 do valor da cesta básica, convoque outras pessoas e participe das ações mensais. Juntos vamos mudar o mundo!</h2>
    </section>

    <donations></donations>

    <map (makeDonation)="handleMapClick($event)"></map>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/img/ODS-02.png">
            </div>
            <div class="col-md-8">
                <h1>Essa luta é maior que qualquer governo. É da humanidade!</h1>
                <h3>Seja um agente do bem. Convoque seus amigos!</h3>
                <invite></invite>
            </div>
        </div>
    </div>
</footer>
<img class="wide" src="/assets/img/ODS.jpg">