nav{
    background-color: #47269D;
    border-radius: 0px;
    border: none;
    height: 70px;
    margin-bottom: 0px;
}
.navbar-brand{
    color: white;
}

.content,
footer{
    font-family: "Verdana";
}

img.wide{
    width: 100%;
}

.section-intro{
    background-color: #6F35A7;
    color: #FFDF6B;
    height: 400px;
}
.section-intro h1{
    margin-top: 15%;
    font-size: xx-large;
}
.section-1{
    color: white;
    text-transform: uppercase;
}
.section-1 h1{
    margin: 0 0 20px 0px;
    font-size: xx-large;
}
.section-1 h2,
.section-1 h3{
    margin: 0 0 30px 50px;
}

footer{
    background-color: #230A64;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}